project:
  type: website

website:
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
  
  page-footer: "&copy; 2025, Joseph Young-hun Choi"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    published-title: 'last updated'
    reference-location: document
    code-fold: false
    code-summary: ""
    fontsize: 1.3em


execute:
  freeze: auto

